body {
 background: rgb(150, 168, 205);
 margin: 0;
}

p,ul{
    color: crimson;
}
a {
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;

}
nav ul{
    margin: 0;
    display: inline;
}
nav ul li{
    background: black;
    color: aliceblue;
    list-style-type: none;
    display:inline-block;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;

}
header,h1{
    margin-left: 40px;
    display: inline;
}
